body {
  background-color: linear-gradient(90deg, orange, yellow, 0 1, 1 0);
}

.box {
  width: 70%;
  background-color: white;
}

.image {
  width: 30%;
  float: right;
  background-image: url("image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
